
<form {{action 'login' on='submit'}}>
  {{input type='email' value=email class='email'}}
  {{input type='password' value=password class='password'}}
  <button type="submit" name="button">login</button>
</form>
